@page
@model AirLineReservation.Views.Account.AccessDeniedModel
@{
}

@{
    ViewData["Title"] = "Access Denied";
}

<header>
    <h1 class="text-danger">Access Denied</h1>
    <p class="text-danger">You do not have permission to view this resource.</p>
    <p>Please log in with an authorized account or contact support if you believe this is an error.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">Go to Home</a>
    <a asp-controller="Account" asp-action="Login" class="btn btn-secondary mt-3">Login</a>
</header>